{% extends 'basic.jinja2' %}

{% block body %}
  <div class="row">
  	<div class="col-md-7 offset-md-2">
  		<form action="/adicionar-dinheiro/checar" method=post>
  			<div class="form-group">
      		<label for="saldo">Digite o valor desejado</label>
  				<input type="text" id="saldo" required name="saldo" class="form-control" />
  			</div>
  			<button type="submit" class="btn btn-block btn-success">Adicionar</button>
  		</form>
  	</div>
    <div align="right">
        Saldo em conta: R$ {{ saldo }}
    </div>
  </div>
{% endblock %}
