{% extends 'basic.jinja2' %}

{% block body %}
  <div class="row">
  	<div class="col-md-7 offset-md-2">
  		<form action="/alterar-senha/checar" method=post>
  			<div class="form-group">
      		<label for="senha">Digite sua senha</label>
  				<input type="password" id="senha" required pattern=".{6,}" title="A sua senha deve conter pelo menos 6 caracteres." name="senha" class="form-control" />
  			</div>
  			<div class="form-group">
      		<label for="c_senha">Confirme sua senha</label>
  				<input type="password" id="c_senha" required pattern=".{6,}" title="A sua senha deve conter pelo menos 6 caracteres." name="c_senha" class="form-control" />
  			</div>
            {% if senha %}
              <h6>Senhas não são iguais.</h6>
            {% endif%}
  			<button type="submit" class="btn btn-block btn-success">Alterar senha</button>
  		</form>
  	</div>
  </div>
{% endblock %}
