{% extends 'basic.jinja2' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
  <div class="row">
  	<div class="col-md-7 offset-md-2">
      <h1>Ativação de cadastro</h1>
      <hr>
			<form action="/ativar/checar" method=post>
        {{ form.csrf_token }}
				{{ wtf.form_field(form.username, class='form-control', placeholder='Mano Brown ou mano.brown@racionais.com') }}
        {{ wtf.form_field(form.token, class='form-control', placeholder='00000') }}
        </br>
        {{ wtf.form_field(form.ativar, class='btn btn-block btn-success') }}
        </br>
        <div align="center">
          {% if token %}
            <span>Token inválido, verifique e tente novamente!</span>
          {% endif %}
          {% if user %}
            <span>Username ou Email inválido! verifique e digite novamente.</span>
          {% endif %}
          {% if ativado %}
            <span>Username já validado! Só basta realizar o login.</span>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
