{% extends 'basic.jinja2' %}

{% block body %}
  <div class="row">
  	<div class="col-md-7 offset-md-2">
			<form action="/ativar/checar" method=post>
				<div class="form-group">
      		<label for="email">Digite seu e-mail</label>
  				<input type="email" id="email" required name="email" class="form-control" />
  			</div>
  			<div class="form-group">
      		<label for="token">Digite o token recebido</label>
  				<input type="text" id="token" required name="token" class="form-control" maxlength="5" />
  			</div>
            {% if token %}
            <span>Token inválido, verifique e tente novamente!</span>
            {% endif %}
            {% if user %}
            <span>Email inválido!</span>
            {% endif %}
  			<button type="submit" class="btn btn-block btn-success">Ativar conta</button>
  		</form>
  	</div>
  </div>
{% endblock %}
