{% extends 'basic.jinja2' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
  <div class="row">
  	<div class="col-md-7 offset-md-2">
        <h1>Cadastro</h1>
        <hr>
      {% if nivel == 0 %}
  		  <form action="/cadastro/checar" method=post>
      {% elif nivel == 1 %}
        <form action="/cadastro-credenciado/checar" method=post>
      {% else %}
        <form action="/cadastro-adm/checar" method=post>
      {% endif %}
      {{ form.csrf_token() }}
      {{ wtf.form_field(form.nome, class='form-control', placeholder='Mano Brown') }}
      {{ wtf.form_field(form.username, class='form-control', placeholder='Brown') }}
      {{ wtf.form_field(form.email, class='form-control', placeholder='mano.brown@racionais.com') }}
      {{ wtf.form_field(form.senha, class='form-control', placeholder='******') }}
      {{ wtf.form_field(form.cadastrar, class='btn btn-block btn-success') }}
  		</form>
  	</div>
  </div>
{% endblock %}
