{% extends 'basic.jinja2' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block body %}
  <div class="row">
  	<div class="col-md-7 offset-md-2">
        <h1>Login</h1>
        <hr>
        <form action="/login/checar" method=post>
          {{ form.csrf_token() }}
          {{ wtf.form_field(form.username, class='form-control', placeholder='Ismailov ou isma@love.com') }}
          {{ wtf.form_field(form.senha, class='form-control', placeholder='******') }}
          </br>
          {{ wtf.form_field(form.logar, class='btn btn-block btn-success') }}
          </br>
          <div align="center">
            {% if invalid %}
              <span>Nome ou senha incorreta, tente novamente!</span>
            {% endif %}
            {% if status %}
              <span>Usuário não ativo, realize a ativação antes!</span>
            {% endif %}
          </div>
        </form>
  	</div>
  </div>
{% endblock %}
