{% extends 'basic.jinja2' %}

{% block body %}
  <div class="row">
  	<div class="col-md-7 offset-md-2"></br>
		<form action="/cadastro/checar" method=post>
            <input type="submit" class="btn btn-block btn-success" value="Cliente" name="Submit"/>
        </form>
        <form action="/cadastro-adm/" method="get"></br>
            <input type="submit" class="btn btn-block btn-success" value="Credenciado" name="Submit"/>
        </form>
        <form action="/cadastro-credenciado/" method="get"></br>
            <input type="submit" class="btn btn-block btn-success" value="Administrativo" name="Submit"/>
        </form>
  	</div>
  </div>
{% endblock %}
