{% extends 'basic.jinja2' %}

{% block body %}
<div class="row jumbotron jumbotron-fluid mt-5 px-5">
  <div class="container">
    <h1 class="display-4">Lista de usuáros</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>Nível</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          {% for pessoa in pessoas %}
          <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.status }}</td>
            <td>{{ usuario.nivel }}</td>
            <td>
    			<a class="btn btn-danger btn-sm">
    		        <i class="fa fa-trash text-white" aria-hidden="true">[/]</i>
    			</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
